:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    color: #dedede;
}

.quest-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid #aaa;
    background-color: #666;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .5rem;
}

.card > .body {
    font-size: 1rem;
    color: #c3c3c3;
}
