@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-bg: #444;
}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
    color: #ddd;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.head-h1 {
    color: #aaa;
    font-size: 2.3rem;
}

.head-h3 {
    color: #bbb;
    font-size: 1.6rem;
}

